/* Sidebar style */
.sidebar {
    position: fixed;
    width: 230px;
    height: 100%;
    background: #0d6efd;
    padding-top: 20px;
}

.sidebar a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.sidebar a:hover {
    background: rgba(255,255,255,0.2);
    transition: 0.3s;
}

/* Page Content */
.content {
    margin-left: 230px;
    padding: 20px;
}

/* Cards */
.dashboard-card {
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.dashboard-card:hover {
    transform: translateY(-5px);
}
