name: Deploy to EC2

on:
  push:
    branches:
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            set -e
            cd /home/ubuntu/ASRS-prod

            # Ensure repo exists
            if [ ! -d ".git" ]; then
              git clone -b dev https://github.com/Omkarai2002/ASRS-production.git .
            else
              git fetch origin
              git checkout dev
              git reset --hard origin/dev
            fi

            source venv/bin/activate
            pip install -r requirements.txt

            sudo systemctl restart app
